### Please submit as an HTML or PDF file

Print your name (First Name Last Name) below

In [ ]:
Grey Won

## 1. Prerequisites
* Install `openpyxl` package in PyCharm. (1') <br>
* Import `pandas` and `matplotlib` packages. (1')
    * For `pandas`, rename it as `pd`.
    * For `matplotlib`, find its `pyplot` module and rename it as `plt`.

* Take a snapshot and attach it below to show that you have `openpyxl` properly installed. (1')

![snapshot01](figures/HWPic01.jpg)

In [2]:
# Note: you do not need to explicitly import openpyxl because it is loaded in the backend once you import pandas.

import pandas as pd
import matplotlib.pyplot as plt

## 2. Overview on the Dataset

Open `PTSD dataset.xlsx` in the "data" folder

* Read it as a pandas object called `ptsd_df`, choose the sheet named `main_dataset`. (1')
* Note: This is a clinical dataset to study the PTSD from my past collaboration. The PI, Dr. Boadie Dunlop has kindly agreed to share it with me for educational purposes. For more information, check the paper below.
    * [Effect of agreement between clinician-rated and patient-reported PTSD symptoms on intensive outpatient treatment outcomes](https://doi.org/10.1016/j.psychres.2024.116287)

In [12]:
ptsd_df = pd.read_excel('data/PTSD dataset.xlsx', sheet_name='main_dataset')

* Find and print the number of rows and columns. (1')
* Please fill in the blank: This dataset contains ( ) rows and ( ) columns.

In [14]:
ptsd_df

#This dataset contains 593 rows and 439 columns.

,record_id,ptsdpresent_caps,caps_minuspcl,caps_minuspcl_code,caps_intake,pcl5_score_intake,pcl5month_score.baseline,pcl5week_score.completion,pcl5month_score.3_month_follow_up,mdd_code,...,state_code,va_benefits_indicator,wwp_alumni_indicator,army,airforce,marines,navy,coastguard,nationalguard,reserve
0,460,1,-56,1,15,71,75.0,40.0,NaN,0,...,TX,Yes,No,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5942,1,-49,1,23,72,NaN,52.0,29.0,0,...,GA,Yes,No,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,5366,1,-48,1,31,79,62.0,23.0,NaN,1,...,GA,N,N,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3480,1,-47,1,31,78,76.0,72.0,NaN,0,...,GA,Yes,Yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1029,1,-46,1,28,74,52.0,29.0,36.0,0,...,GA,Yes,No,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,1922,1,13,3,44,31,34.0,25.0,27.0,1,...,NJ,No,No,0.0,1.0,0.0,0.0,0.0,0.0,0.0
479,2427,1,21,3,42,21,45.0,13.0,16.0,0,...,OK,No,No,0.0,1.0,0.0,0.0,0.0,0.0,0.0
480,179,1,21,3,38,17,17.0,NaN,NaN,1,...,GA,Yes,No,0.0,0.0,1.0,0.0,0.0,0.0,0.0
481,3533,1,24,3,38,14,35.0,25.0,15.0,0,...,CA,Yes,Yes,1.0,0.0,0.0,0.0,0.0,0.0,1.0
482,3021,1,30,3,42,12,66.0,74.0,11.0,1,...,NC,Yes,Yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0

* Find the variable names of the dataset, assign it to a variable name `ptsd_col_name`. (1')
* Print out the type of the variable `ptsd_col_name`. (1')
* Convert it to a list without changing the variable name and confirm the type as a list. (2')
* Print out `ptsd_col_name`. (1')
* Find and print out the first item of the `ptsd_col_name`. (1')
* Find and print out the index corresponding to the variable `pcl5_score_intake`. (1')

In [20]:
ptsd_col_name = ptsd_df.columns
print(type(ptsd_col_name))
ptsd_col_name = list(ptsd_col_name)
print(type(ptsd_col_name))
print(ptsd_col_name[0])
print(ptsd_col_name.index('pcl5_score_intake'))

<class 'pandas.core.indexes.base.Index'>
<class 'list'>
record_id
5

## 3. Descriptive Statistics and Visualization

* Compute and print out descriptive statistics of `pcl5_score_intake`.
    * Directly type the name such as `df["col_name"]`. (1')
    * Use `ptsd_col_name` with an index to extract the column `pcl5_score_intake`. (1')

* Generate a scatter plot that shows `pcl5_score_intake` in the y-axis and `age_iop` in the x-axis.
    * `pcl5_score_intake` refers to "PCL5 Score at Intake", while `age_iop` refers to "Age".
    * Extract columns to create two variables named `age` and `pcl5_score_intake`, respectively. (1')
    * Generate the scatter plot. (1')
    * Label both x and y axes properly and the title as "Scatter Plot". (1')
    * Show the plot. (1')

* Provide a frequency table of `gender_code`. (1')

* Provide a contingency table between `gender_code` and `race_code`. (1')

Save it as `HW2.html` or `HW2.pdf` and upload it to Canvas.